<template>
  <v-app>
    <v-container>
      <!-- Notification -->
      <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="mode === 'multi-line'"
        :timeout="timeout"
        :vertical="mode === 'vertical'"
      >
        {{ notification }}
        <v-btn dark text @click="snackbar = false">Close</v-btn>
      </v-snackbar>
      <v-content>
        <v-row>
          <!-- Dispay input text -->
          <v-col cols="8">
            <div class="title teal white--text justify-center d-flex">Enter text for analysis</div>
            <v-container>
              <v-text-field v-model="value.title" label="Title"></v-text-field>
              <v-textarea counter label="Your text" v-model="value.text"></v-textarea>
              <div class="d-flex justify-center">
                <v-btn class="green" dark @click="sendText()">Save</v-btn>
              </div>
            </v-container>
          </v-col>
          <!-- Display list avaliable text of database-->
          <v-col cols="4">
            <div class="teal title white--text justify-center d-flex">List of available texts</div>
            <v-row>
              <v-col v-for="(item, i) in texts" :key="i" cols="12">
                <v-list-item :to="'blog/'+item.url" class="green lighten-5">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    // snack bar
    snackbar: false,
    notification: '',
    color: '',
    timeout: 6000,
    mode: '',
    // rules: [v => v.length < 1000000 || 'Max size of Test 1 Mb'],
    value: {
      text: null,
      title: null
    },
    texts: []
  }),
  methods: {
    // Get text from database
    async getText() {
      await this.$axios
        .get('/api/text', {
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          params: {
            type: 'list'
          }
        })
        .then(response => {
          console.log(response)
          this.texts = response.data.texts
        })
        .catch(err => {
          console.log(err)
        })
    },
    // Send text to database
    async sendText() {
      console.log(this.value)
      switch (true) {
        // Check size of text. Must ne less than 1Mb
        case this.memorySizeOf(this.value) > 1000000:
          this.snackbar = true
          this.notification = 'Text must be less than 1Mb'
          this.color = 'error'
          break

        case this.value.text == null:
          this.snackbar = true
          this.notification = 'Please input a text'
          this.color = 'error'
          break
        case this.value.title == null:
          this.snackbar = true
          this.notification = 'Please input a title'
          this.color = 'error'
          break
        default:
          this.head = {
            'Content-Type': 'application/json'
          }
          await this.$axios
            .post('api/text', this.value, {
              headers: this.head
            })
            .then(response => {
              if (response.status == 200) {
                console.log(response.data)
                this.value.text = 'Input text!'
                this.$router.push('/blog/' + response.data.url)
              } else {
                console.log(response)
              }
            })
      }
    },
    // Check size of text
    memorySizeOf(obj) {
      var bytes = 0
      function sizeOf(obj) {
        if (obj !== null && obj !== undefined) {
          switch (typeof obj) {
            case 'number':
              bytes += 8
              break
            case 'string':
              bytes += obj.length * 2
              break
            case 'boolean':
              bytes += 4
              break
            case 'object':
              var objClass = Object.prototype.toString.call(obj).slice(8, -1)
              if (objClass === 'Object' || objClass === 'Array') {
                for (var key in obj) {
                  if (!obj.hasOwnProperty(key)) continue
                  sizeOf(obj[key])
                }
              } else bytes += obj.toString().length * 2
              break
          }
        }
        return bytes
      }

      // function formatByteSize(bytes) {
      //   if (bytes < 1024) return bytes + ' bytes'
      //   else if (bytes < 1048576) return (bytes / 1024).toFixed(3) + ' KiB'
      //   else if (bytes < 1073741824)
      //     return (bytes / 1048576).toFixed(3) + ' MiB'
      //   else return (bytes / 1073741824).toFixed(3) + ' GiB'
      // }
      return sizeOf(obj)
    }
  },
  created() {
    this.getText()
  }
}
</script> 
