<template>
  <v-app>
    <v-content>
      <v-btn to="/" color="green" dark>Back</v-btn>
      <v-container>
        <div class="title d-flex justify-center">Search for similar texts</div>
        <v-row>
          <!-- Displat sentences from text for analysing using BERT -->
          <v-col cols="8">
            <div v-for="(item, i) in text" :key="i">
              <v-list-item v-text="item" @click="analyse(item)" class="green lighten-5"></v-list-item>
            </div>
          </v-col>
          <v-col cols="4">
            <!-- Select the N most similarity text -->
            <v-slider
              v-model="topSentences"
              label="Top sentences"
              thumb-color="green"
              thumb-label="always"
              min="2"
              max="50"
            ></v-slider>
            <v-row>
              <!-- Display results of analysing using BERT -->
              <v-col cols="12" v-for="(item, i) in similar" :key="i">
                <div v-text="'Score: ' + item.score.toFixed(2)"></div>
                <v-list-item three-line :to="item.url">
                  <v-list-item-content>
                    <v-list-item-title v-text="item.title"></v-list-item-title>
                    <v-list-item-subtitle v-text="item.url"></v-list-item-subtitle>
                    <v-list-item-content v-text="item.sentences"></v-list-item-content>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    text: [],
    similar: [],
    slug: null,
    topSentences: 5
  }),
  methods: {
    // Get similar text
    async analyse(sentence) {
      await this.$axios
        .get('/api/bert', {
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          params: {
            sentence: sentence,
            top: this.topSentences
          }
        })
        .then(response => {
          this.similar = response.data.similar
        })
        .catch(err => {
          console.log(err)
        })
    },
    // Get text for analyse sentences. Return tokenize text
    async getText(slug) {
      await this.$axios
        .get('/api/text', {
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          params: {
            url: this.slug,
            type: 'analyse'
          }
        })
        .then(response => {
          this.text = response.data.text
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  created() {
    this.slug = this.$route.params.blog
    this.getText(this.slug)
  }
}
</script>

<style>
img {
  width: 100%;
  border-radius: 0.5em;
}
</style>