<template>
  <div id="app">
    <nuxt />
    <v-app>
      <v-app-bar app color="teal" dark>
        <v-toolbar-title>Search for similar texts</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-app-bar>

      <v-footer app color="teal" class="white--text">
        <span>Test</span>
        <span>&copy; 2020</span>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
export default {
  props: {
    source: String
  },
  components: {},
  data: () => ({
    drawer: null
  })
}
</script>
